
{# src/EJ/TestBundle/Resources/views/Advert/add.html.twig #}
{% extends "EJTestBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter une texte</h2>



    <p>
        Attention : cette texte sera ajoutée directement après validation du formulaire.
    </p>

{% endblock %}